p {
  font-family: Arial;
  color: white;
  text-align: center;
}

h1 {
  color: white;
  font-family: Arial;
  text-align: center;
}

body {
  background-image: url("https://victortravelblogdotcom.files.wordpress.com/2014/07/ancient-greek-sculpture-national-archaeological-museum-athens-greece-50.jpg?w=584");
  background-repeat: no-repeat;
  background-size: cover;
  background-opacity: 0.5;
}
